@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  /* Slide-down animation */
  @keyframes slide-down {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .animate-slide-down {
    animation: slide-down 0.5s ease-in-out forwards;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
